.container{
    display: grid;
    /* grid-template-columns:  repeat(auto-fill,minmax(400px,2fr));
     grid-template-rows: 1fr 1fr 1fr; 
    /* grid-gap:20px; */
    /* grid-auto-columns: 160px; */
    /* grid-auto-rows: minmax(50px,auto);
    grid-auto-columns: minmax(50px,auto); */ 
    /* column-gap: 120px;
    row-gap: 120px; */
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}

.items{
    background-color: lightgreen;
    border: 2px green solid;
    border-radius: 3px;
}

 #grid-id1{
    grid-column-start: 2;
    grid-column-end: 3;
} 

/* #grid-id2{
    grid-row-start: 1;
    grid-row-end: 3;
}  */

.item1-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    grid-gap:20px;
}

.griditem{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 2px saddlebrown solid;
}


        /* label {
            display: block;
            margin-bottom: 5px;
        } */
